$baseColor:#17a2b8;

h2{
    color:$baseColor;
    font-weight: bold;
    font-size: 1.7rem;
    margin-bottom: 2rem;
    i{
        color: #fd7e14;
        width: 40px;
        text-align: center;
        margin-right: 1rem;
    }
}
.breadcrumb{
    background-color: transparent;
    margin-bottom: 0;
    color: gray;
    a{
        color: $baseColor;
    }
}
.slick-arrow:before {
    color: lightblue!important;
}
section{
    padding: 2rem 0;
}
body.lock{
    overflow: hidden;
}
.more_btn{
    display: table;
    margin-left: auto;
    margin-top: 2rem;
}
@mixin lg {
    @media  (min-width: 992px){
        @content
    }
};
@mixin md {
    @media  (min-width: 768px){
        @content
    }
};
@mixin sm {
    @media  (min-width: 576px){
        @content
    }
};
.newslist{
    &_links{
        a{
            display: flex;
            color: gray;
            padding: .5rem 0;
            margin-top: .5rem;
            border-bottom: 1px dotted darkgray;
            transition: .3s;
            &:hover{
                color: #fd7e14
            }
        }
    };
    &_time{
        width: 100px;
        color: darkgray;
    }
}
.productlist{
    .slick-dots{
        margin-top: 1rem;
        bottom: auto;
    }
    &_item{
        margin: 0 1rem;
        display: block;
        border-radius: 5px;
        overflow: hidden;
        background-color: #fff;
        &:hover{
            .productlist_img{
                transform: scale(1.05);
            }
        }
    }
    &_img_outer{
        width: 100%;
        height: 200px;
        overflow: hidden;
        position: relative;
    }
    &_img{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        transition: .3s;
    }
    &_like{
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        position: absolute;
        color: red;
        z-index: 1;
        top: .5rem;
        right: .5rem;
        font-size: 1.5rem;
    }
    &_shopcart{
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        color: $baseColor;
        font-size: 1.5rem;
    }
    &_body{
        padding: 1rem;
    }
    &_footer{
        padding: 0 1rem 1rem 1rem;
        color: #000;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &_name{
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: 1rem;
        color: #000;
    }
    &_text{
        color: darkgray;
    }
    &_badge{
        background-color: gray;
        color: #fff;
        padding: .3rem .5rem;
        border-radius:5px;
        font-size: .75rem;
        font-weight: bold;
    }
    &_price{
        color: #000;
        font-size: 1.3rem;
    }
}
.loading{
    &_bg{
        width: 100%;
        height: 100vh;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: fixed;
        background-color: rgba(255,255,255, 0.5);
        z-index: -1;
        visibility: hidden;
        opacity: 0;
        transition: .3s;

        .loading{
            background: #fff;
            color: $baseColor;
            border-radius: 5px;
            padding: 1rem;
            position: absolute;
            right: 50%;
            bottom: 50%;
            transform: translate(50%,50%);
            text-align: center;
            width: 300px;
            p{
                margin-top: 2rem;
            }
        }
        img{
            display: block;
            margin: 0 auto;
            width: 100px;
            height: 100px;
            transform: translateY(0);
            z-index: 11;
            animation-name: oxxo;
            animation-duration:2s;
            animation-iteration-count:infinite;
        }
        &.active{
            z-index: 10;
            visibility:visible;
            opacity: 1;
        }
    }
}
@keyframes oxxo{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0);
    }
}